<div class="xp-desktop-container" cdkDropListGroup>
  <!-- GRILLA DE ÍCONOS -->
  <div
    class="xp-icons-grid-system"
    [style.grid-template-columns]="'repeat(' + columns + ', 85px)'"
    [style.grid-template-rows]="'repeat(' + rows + ', 85px)'"
  >
    @for (slot of desktopGrid; track $index) {
      <div
        class="desktop-slot"
        cdkDropList
        [cdkDropListData]="slot"
        (cdkDropListDropped)="drop($event)"
      >
        @for (icon of slot; track icon.id) {
          <div
            class="direct-access"
            cdkDrag
            cdkDragBoundary=".xp-desktop-container"
            (dblclick)="openApp(icon.id)"
          >
            <img [src]="icon.img" [alt]="icon.id" class="shortcut-icon" />
            <span class="shortcut-text">
              {{ langService.currentLang() === 'es' ? icon.nameEs : icon.nameEn }}
            </span>
          </div>
        }
      </div>
    }
  </div>

  @if (isAppOpen('stack') && !isAppMinimized('stack')) {
    <app-stack-adm
      class="draggable-window-container"
      (minimize)="minimizeApp('stack')"
      (close)="closeApp('stack')"
    >
    </app-stack-adm>
  }

  <!-- VENTANA ABOUT ME -->
  @if (isAppOpen('about') && !isAppMinimized('about')) {
    <app-about-me
      class="draggable-window-container"
      (minimize)="minimizeApp('about')"
      (close)="closeApp('about')"
    >
    </app-about-me>
  }

  @if (isAppOpen('contact') && !isAppMinimized('contact')) {
    <app-contact
      class="draggable-window-container"
      (minimize)="minimizeApp('contact')"
      (close)="closeApp('contact')"
    ></app-contact>
  }

  <!-- BARRA DE TAREAS -->
  <app-task-bar [activeApps]="runningApps" (appClick)="toggleAppFromTaskbar($event)">
  </app-task-bar>
</div>
